<ion-view view-title="Products">
  <ion-content>
    <ion-list >
      <ion-item  ng-repeat="producto in productos" href="#/app/products/{{producto.id}}" lines='none'>
        <div class="flex column producto">
          <img ng-src="img/{{producto.imagen}}" onerror="this.src='img/default.jpg'" width="180px">
          <section class="flex column descripcion">
              <h2>{{producto.descripcion}}</h2>
              <p >{{'$'+producto.precio}}</p>
          </section>
        </div>
      </ion-item>
    </ion-list>

  
  </ion-content>
</ion-view>
