/* Empty. Add your own CSS if you like */
.flex
{
    display: flex;
}

.row
{
    flex-direction: row;
}

.column
{
    flex-direction: column;
}

.producto
{
    align-items: center;
}

.descripcion
{
    align-items: center;
}

.center-y
{
    align-items: center;
}

.center-x
{
    justify-content: center;
}

.descripcion-detalle
{
    padding: 30px;
}

.descripcion-selecc
{
    
    padding: 10px;
}

.selecc
{
    justify-content: start;
}
.descripcion-selecc p
{
    max-width: 140px;
}

#close{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer{
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    background: #f8f8f8;
    z-index: 900;
    color: #FFF;
    opacity: 1;
    color: black;
        
}
#car{
    margin-top: 100px;
}